hostname {{ device.name }}
domain-name {{ dns.domain }}
!
enable password {{ admin_password | default('PASSWORD') }}
!
ftp mode passive
!
{% if dns.servers %}
dns domain-lookup inside
dns server-group DefaultDNS
  {% for server in dns.servers %}
  name-server {{ server }}
  {% endfor %}
{% endif %}
!
same-security-traffic permit inter-interface
!
