banner motd 
banner motd 
banner motd               {{ device.name}}.{{ dns.domain }}
banner motd +----------------------------------------------------------+
banner motd    Hardware Model            {{ device.device_type }}
banner motd +----------------------------------------------------------+
banner motd    High Availability         {{ device.ha }}
banner motd +----------------------------------------------------------+
banner motd    Building                  {{ device.cf.building }}
banner motd +----------------------------------------------------------+
banner motd    Floor                     {{ device.cf.floor }}
banner motd +----------------------------------------------------------+
banner motd    Room                      {{ device.cf.room }}
banner motd +----------------------------------------------------------+
banner motd 
banner motd
!
banner login 
banner login                  --- *** WARNING NOTICE *** ---
banner login        This system is restricted solely to GetWellNetwork
banner login        authorized users for legitimate business purposes
banner login        only. The actual or attempted unauthorized access,
banner login        use, or modification of this system is strictly
banner login        prohibited by GetWellNetwork.
banner login 
banner login        Unauthorized users are subject to Company
banner login        disciplinary proceedings and/or criminal and civil
banner login        penalties under state, federal, or other applicable
banner login        domestic and foreign laws.
banner login 
banner login        The use of this system may be monitored and recorded
banner login        for administrative and security reasons. Anyone
banner login        accessing this system expressly consents to such
banner login        monitoring and is advised that if monitoring reveals
banner login        possible evidence of criminal activity, GetWellNetwork
banner login        may provide the evidence of such activity to law
banner login        enforcement officials.
banner login 
banner login        All users must comply with GetWellNetwork Corporate
banner login        Instructions regarding the protection of GetWellNetwork
banner login        information assets.
banner login 
banner login
!
banner asdm 
banner asdm                  --- *** WARNING NOTICE *** ---
banner asdm        This system is restricted solely to GetWellNetwork
banner asdm        authorized users for legitimate business purposes
banner asdm        only. The actual or attempted unauthorized access,
banner asdm        use, or modification of this system is strictly
banner asdm        prohibited by GetWellNetwork.
banner asdm 
banner asdm        Unauthorized users are subject to Company
banner asdm        disciplinary proceedings and/or criminal and civil
banner asdm        penalties under state, federal, or other applicable
banner asdm        domestic and foreign laws.
banner asdm 
banner asdm        The use of this system may be monitored and recorded
banner asdm        for administrative and security reasons. Anyone
banner asdm        accessing this system expressly consents to such
banner asdm        monitoring and is advised that if monitoring reveals
banner asdm        possible evidence of criminal activity, GetWellNetwork
banner asdm        may provide the evidence of such activity to law
banner asdm        enforcement officials.
banner asdm 
banner asdm        All users must comply with GetWellNetwork Corporate
banner asdm        Instructions regarding the protection of GetWellNetwork
banner asdm        information assets.
banner asdm
!
