interface {{ interface.name }}
  {% if interface.description %}
  description {{ interface.description }}
  {% endif %}
  {% if interface.label %}
  nameif {{ interface.label }}
  {% endif %}
  {% if interface.cf.security_level is not none %}
  security-level {{ interface.cf.security_level }}
  {% endif %}
  {% for ip in interface.ip_addresses.all() %}
    address {{ ip }}
  {% endfor %}
  {% if interface.enabled %}
  no shut
  {% else %}
  shut
  {% endif %}
!
