interface {{ interface.name }}
  {{ interface.cf.security_level }}
  {{ interface.custom_fields.security_level }}
  {% if interface.label %}
  nameif {{ interface.label }}
  {% endif %}
  {% if interface.custom_fields.security_level %}
  security-level {{ interface.custom_fields.security_level }}
  {% endif %}
  {% if interface.enabled %}
  no shut
  {% else %}
  shut
  {% endif %}
!
