interface {{ interface.name }}
  {% if interface.label %}
  nameif {{ interface.label }}
  {% endif %}
  {% if interface.cf.security_level %}
  security-level {{ interface.cf.security_level }}
  {% endif %}
  no shut
!
