{% extends 'base.j2' %}

{% block content %}
  {% include 'common/asa/system.j2' %}
  {% for interface in device.interfaces.filter(type='virtual') %}
    {% include 'platforms/asa-5500/virtual-interface.j2' %}
  {% endfor %}
  {% for interface in device.interfaces.filter(type__n='virtual') %}
    {% include 'platforms/asa-5500/physical-interface.j2' %}
  {% endfor %}
  {% include 'common/asa/route.j2 '%}
  {% include 'common/asa/banner.j2' %}
{% endblock %}
